<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appmovil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppMovil">
        <activity
            android:name=".Activity_Ejercicio04_Tarea02"
            android:exported="false" />
        <activity
            android:name=".activity_ejercicio4_tarea01"
            android:exported="false" />
        <activity
            android:name=".activityMain_Ejercicio02_Tarea1_Welcome"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity_Ejercicio01_Tarea01"
            android:exported="false"
            android:label="@string/title_activity_login_ejercicio01_tarea01" />
        <activity
            android:name=".ui.login.LoginActivity_ejercicio2_tarea01"
            android:exported="false"
            android:label="@string/title_activity_login_ejercicio2_tarea01" />
        <activity
            android:name=".activity_ejercicio01_tarea02"
            android:exported="false" />
        <activity
            android:name=".activity_ejercicio01_tarea01"
            android:exported="false" />
        <activity
            android:name=".activity_main2_ejercicio02_tarea02"
            android:exported="false" />
        <activity
            android:name=".activity_main_ejercicio02_tarea02"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivityEjercicio02Tarea01"
            android:exported="false"
            android:label="@string/title_activity_login_ejercicio02_tarea01" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>